# Build output
output/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.rsuser

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

# OS
Thumbs.db
.DS_Store
desktop.ini

# Logs
*.log

# Env
.env
.env.local